@import helper._

<div>
 <form action="/connection" method="post">
  <br>
  <fieldset>
  DATABASE<br><input type="radio" name="dbName" value="MySQL")>MySQL<br>
  HOST<input type="text" id="host" name="host" value="" size="10"><br>
  PORT<input type="text" id="port" name="port" value="" size="10"><br>
  USER<input type="text" id="user" name="user" value="" size="10"><br>
  PASSWORD<input type="text" id="pass" name="pass" value="" size="10">
  </fieldset>
  <div class="actions">
    <input type="submit">
  </div>
 </form>
</div>